@charset "utf-8";
/* CSS Document */

body{
  font-family: Tahoma, sans-serif;
  color: white;
  background-color: #47bb8e;
  position: relative;
}
h1 {
  text-transform: uppercase;
  text-align: center;
}
.article_double{
  width: 50%;
  float: left;
  position: relative;
}
.article_single{
margin-top: 15%;
width: 100%;
position: absolute;
}
input[type=radio] {
  position: absolute;
  opacity: 0;
}

input[type=radio]+img {
  cursor: pointer;
  margin-right: 0.5rem;
}

input[type=radio]:checked + img {
  outline: 5px solid #1e1c52;
}

input{
  margin: 0 auto;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  display:block;
}

input+img{
	float:left;
	width:25%;
	background-color:#b8b8b8;
	overflow:auto;
	margin: 5%
	}


button, input[type=submit]{
	background-color: #1e1c52;
  border: none;
	border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30%;
  cursor: pointer;
  position: absolute;
  display:block;

}
a{
  background-color: #1e1c52;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30%;
  cursor: pointer;
  position: absolute;
}
img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#logo{
  width: 80%;
}
#start_page{
position: relative;
margin-top: 20%;
}
