<!doctype html>
<html>
    <head>
      <title>Avatar Generator</title>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img id="logo" src="../static/logo.png"><br>
      </div>
      <div class="article_double" id="start_page">
        <h1>Create your own Avatar!</h1>
        <form method="post">
            <button type="submit">Start!</button>
        </form>
      </div>
    </body>
</html>
