<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <h1>Here is your avatar!</h1><br>
        <img src="/static/Avatar.png">
      </div>
      <div class="article_double">
        <a href="/static/Avatar.png" download="Avatar">Download</a><br><br><br><br>
        <form method="post">
            <button type="submit">Start again!</button>
        </form>
      </div>
    </body>
</html>
