<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <h1>This is your background image:</h1><br>
        <img src="../static/background.png">
      </div>
      <div class="article_double">
        <form method="post">
            <button type="submit" name="start" value="start">Start!</button><br><br><br><br>
        </form>
        <br>
        Do you think this image is unsuitable or inappropriate?<br>
        Add it to our global blocklist and randomize again!<br>
        <form method="post"><br>
          <button type="submit" name="block" value="block">Block</button>
        </form>
      </div>
    </body>
</html>
