<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    </head>
    <body>

      <form action="" method="post">
        Choose your hair style:
        <input type="radio" id="buzz_black" name="hair" value="buzz_black">
        <label for="buzz_black">Buzz black</label>
        <input type="radio" id="buzz_blond" name="hair" value="buzz_blond">
        <label for="buzz_blond">Buzz blond</label>
        <input type="radio" id="buzz_brown" name="hair" value="buzz_brown">
        <label for="buzz_brown">Buzz brown</label>
        <input type="radio" id="buzz_red" name="hair" value="buzz_red">
        <label for="buzz_red">Buzz red</label>
        <input type="radio" id="long_black" name="hair" value="long_black">
        <label for="long_black">Long black</label>
        <input type="radio" id="long_blond" name="hair" value="long_blond">
        <label for="long_blond">Long blond</label>
        <input type="radio" id="long_brown" name="hair" value="long_brown">
        <label for="long_brown">Long brown</label>
        <input type="radio" id="long_red" name="hair" value="long_red">
        <label for="long_red">Long red</label>
        <input type="radio" id="medium_black" name="hair" value="medium_black">
        <label for="medium_black">Medium black</label>
        <input type="radio" id="medium_blond" name="hair" value="medium_blond">
        <label for="medium_blond">Medium blond</label>
        <input type="radio" id="medium_brown" name="hair" value="medium_brown">
        <label for="medium_brown">Medium brown</label>
        <input type="radio" id="medium_red" name="hair" value="medium_red">
        <label for="medium_red">Medium red</label>
        <input type="radio" id="short_black" name="hair" value="short_black">
        <label for="short_black">Short black</label>
        <input type="radio" id="short_blond" name="hair" value="short_blond">
        <label for="short_blond">Short blond</label>
        <input type="radio" id="short_brown" name="hair" value="short_brown">
        <label for="short_brown">Short brown</label>
        <input type="radio" id="short_red" name="hair" value="short_red">
        <label for="short_red">Short red</label>
        <input type="radio" id="hijab" name="hair" value="Hijab">
        <label for="hijab">Hijab</label>
        <input type="submit" value="Next">
      </form>
    </body>
</html>
