<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img src="../static/Avatar.png"><br>
      </div>
      <div class="article_double">
        <form action="" method="post">
          <h1>Choose your hair style:</h1><br>
          <label>
            <input type="radio" name="hair_style_red" value="buzz_red">
            <img src="../static/buzz_red.png">
          </label>

          <label>
            <input type="radio" name="hair_style_red" value="short_red">
            <img src="../static/short_red.png">
          </label>

          <label>
            <input type="radio" name="hair_style_red" value="medium_red">
            <img src="../static/medium_red.png">
          </label>

          <label>
            <input type="radio" name="hair_style_red" value="long_red">
            <img src="../static/long_red.png">
          </label>
          <input type="submit" value="Next Step">
        </form>
      </div>
    </body>
</html>
