<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    </head>
    <body>

      <form action="" method="post">
        Choose your avatars eyes:
        <input type="radio" id="eyes_neutral" name="eyes" value="eyes_neutral">
        <label for="eyes_neutral">Neutral</label><br>
        <input type="radio" id="eyes_happy" name="eyes" value="eyes_happy">
        <label for="eyes_happy">Happy</label><br>
        <input type="radio" id="eyes_lashes" name="eyes" value="eyes_lashes">
        <label for="eyes_lashes">Lashes</label>
        <input type="radio" id="eyes_sad" name="eyes" value="eyes_sad">
        <label for="eyes_sad">Sad</label>
        <input type="submit" value="Next">
      </form>
    </body>
</html>
