<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img src="../static/Avatar.png"><br>
      </div>
      <div class="article_double">
        <form action="" method="post">
          <h1>Choose Mouth:</h1><br>
          <label>
            <input type="radio" name="mouth" value="mouth_happy">
            <img src="../static/mouth_happy.png">
          </label>

          <label>
            <input type="radio" name="mouth" value="mouth_neutral">
            <img src="../static/mouth_neutral.png">
          </label>

          <label>
            <input type="radio" name="mouth" value="mouth_sad">
            <img src="../static/mouth_sad.png">
          </label>

          <label>
            <input type="radio" name="mouth" value="mouth_smirk">
            <img src="../static/mouth_smirk.png">
          </label>

          <label>
            <input type="radio" name="mouth" value="mouth_tongue_out">
            <img src="../static/mouth_tongue_out.png">
          </label>
          <input type="submit" value="Next Step">
        </form>
      </div>
    </body>
</html>
