<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    </head>
    <body>

      <form action="" method="post">
        Choose Outfit:
        <input type="radio" id="t_shirt" name="clothes" value="t_shirt">
        <label for="t_shirt">T-shirt</label>
        <input type="radio" id="hoodie" name="clothes" value="hoodie">
        <label for="hoodie">Hoodie</label>
        <input type="radio" id="tanktop" name="clothes" value="tanktop">
        <label for="tanktop">Tanktop</label>
        <input type="radio" id="turtleneck" name="clothes" value="turtleneck">
        <label for="turtleneck">Turtleneck</label>
        <input type="submit" value="Next">
      </form>
    </body>
</html>
