<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img src="../static/Avatar.png"><br>
      </div>
      <div class="article_double">
        <form action="" method="post">
          <h1>Choose Eyes</h1><br>
          <label>
            <input type="radio" name="eyes" value="eyes_happy">
            <img src="../static/eyes_happy.png">
          </label>

          <label>
            <input type="radio" name="eyes" value="eyes_lashes">
            <img src="../static/eyes_lashes.png">
          </label>

          <label>
            <input type="radio" name="eyes" value="eyes_neutral">
            <img src="../static/eyes_neutral.png">
          </label>

          <label>
            <input type="radio" name="eyes" value="eyes_sad">
            <img src="../static/eyes_sad.png">
          </label>
          <input type="submit" value="Next Step">
        </form>
      </div>
    </body>
</html>
