<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img src="../static/Avatar"><br>
      </div>
      <div class="article_double">
        <form action="" method="post">
          <h1>Choose your hair style:</h1><br>
          <label>
            <input type="radio" name="hair_style_black" value="buzz_black">
            <img src="../static/buzz_black.png">
          </label>

          <label>
            <input type="radio" name="hair_style_black" value="short_black">
            <img src="../static/short_black.png">
          </label>

          <label>
            <input type="radio" name="hair_style_black" value="medium_black">
            <img src="../static/medium_black.png">
          </label>

          <label>
            <input type="radio" name="hair_style_black" value="long_black">
            <img src="../static/long_black.png">
          </label>
          <input type="submit" value="Next Step">
        </form>
      </div>
    </body>
</html>
