<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    </head>
    <body>

      <form action="" method="post">
        Choose your avatars accessories:
        <input type="radio" id="cat_outfit" name="acc" value="cat_outfit">
        <label for="cat_outfit">Cat ears and Whiskers</label><br>
        <input type="radio" id="bandage" name="acc" value="bandage">
        <label for="bandage">Bandage</label><br>
        <input type="radio" id="devil_horns" name="acc" value="devil_horns">
        <label for="devil_horns">Horns</label>
        <input type="radio" id="earrings" name="acc" value="earrings">
        <label for="earrings">Earrings</label>
        <input type="radio" id="None" name="acc" value="">
        <label for="None">None</label>
        <input type="submit" value="Next">
      </form>
    </body>
</html>
