<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img src="../static/Avatar.png"><br>
      </div>
      <div class="article_double">
        <form action="" method="post">
          <h1>Choose Accessories:</h1><br>
          <label>
            <input type="radio" name="acc" value="cat_outfit">
            <img src="../static/cat_outfit.png">
          </label>

          <label>
            <input type="radio" name="acc" value="devil_horns">
            <img src="../static/devil_horns.png">
          </label>

          <label>
            <input type="radio" name="acc" value="earrings">
            <img src="../static/earrings.png">
          </label>

          <label>
            <input type="radio" name="acc" value="bandage">
            <img src="../static/bandage.png">
          </label>
          <input type="submit" value="Next Step">
        </form>
      </div>
    </body>
</html>
