<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img src="../static/Avatar.png"><br>
      </div>
      <div class="article_double">
        <form action="" method="post">
          <h1>Choose your hair style:</h1><br>
          <label>
            <input type="radio" name="hair_style_blond" value="buzz_blond">
            <img src="../static/buzz_blond.png">
          </label>

          <label>
            <input type="radio" name="hair_style_blond" value="short_blond">
            <img src="../static/short_blond.png">
          </label>

          <label>
            <input type="radio" name="hair_style_blond" value="medium_blond">
            <img src="../static/medium_blond.png">
          </label>

          <label>
            <input type="radio" name="hair_style_blond" value="long_blond">
            <img src="../static/long_blond.png">
          </label>
          <input type="submit" value="Next Step">
        </form>
      </div>
    </body>
</html>
