<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
    </head>
    <body>

      <form action="" method="post">
        Choose your avatars mouth:
        <input type="radio" id="mouth_happy" name="mouth" value="mouth_happy">
        <label for="mouth_happy">Happy</label><br>
        <input type="radio" id="mouth_neutral" name="mouth" value="mouth_neutral">
        <label for="mouth_neutral">Neutral</label><br>
        <input type="radio" id="mouth_sad" name="mouth" value="mouth_sad">
        <label for="mouth_sad">Sad</label>
        <input type="radio" id="mouth_smirk" name="mouth" value="mouth_smirk">
        <label for="mouth_smirk">Smirk</label>
        <input type="radio" id="mouth_tongue_out" name="mouth" value="mouth_tongue_out">
        <label for="mouth_tongue_out">Toungue out</label>
        <input type="submit" value="Next">
      </form>
    </body>
</html>
