<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>

      <form action="" method="post">
        Choose your avatars skin color:

        <label>
          <input type="radio" name="skin" value="beige">
          <img src="../static/beige.png">
        </label>


        <label>
          <input type="radio" name="skin" value="brown">
          <img src="../static/brown.png">
        </label>


        <label>
          <input type="radio" name="skin" value="pink">
          <img src="../static/pink.png">
        </label>


        <label>
          <input type="radio" name="skin" value="tan">
          <img src="../static/tan.png">
        </label>

        <input type="submit" value="Next">
      </form>
    </body>
</html>
