<!doctype html>
<html>
    <head>
        <title>Avatar Generator</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <div class="article_double">
        <img src="../static/Avatar.png"><br>
      </div>
      <div class="article_double">
        <form action="" method="post">
          <h1>Choose Outfit:</h1><br>
          <label>
            <input type="radio" name="clothes" value="t_shirt">
            <img src="../static/t_shirt.png">
          </label>

          <label>
            <input type="radio" name="clothes" value="hoodie">
            <img src="../static/hoodie.png">
          </label>

          <label>
            <input type="radio" name="clothes" value="tanktop">
            <img src="../static/tanktop.png">
          </label>

          <label>
            <input type="radio" name="clothes" value="turtleneck">
            <img src="../static/turtleneck.png">
          </label>
          <input type="submit" value="Next Step">
        </form>
      </div>
    </body>
</html>
